    .grid-container 
	{
		display: grid;
		grid-template-columns: 5px 75px 350px 75px 10px 190px repeat(4, 45px) 10px 5px;
		grid-template-rows: 100px repeat(2,35px) 30px 470px 65px 20px 5px;
        background-color: white;
	}
									
	.grid-container > div 
	{
		text-align: center;
        font-family: "Fira Sans","TrebuchetMS","HelveticaNeue","Arial",sans-serif;
		font-size: 20px;
        color: white;
	}
    .grid-margin
    {
        grid-area: auto/auto/span 8/ span 1;
        background-color: rgb(230, 230, 230);
    }
	.grid-header-left
    {
		grid-area: auto/auto/span 1/ span 3;
        background-color: rgb(230, 230, 230);
    }
    .grid-header-right
    {
		
    	background-color: rgb(230, 230, 230);
    }
    .grid-header-right-icon-cog
    {
		background-color: rgb(230, 230, 230);
		grid-area: auto/auto/span 1/ span 2;
    }
    .active-group-header-top
    {
		grid-area: auto/auto/span 1/ span 3;
    	background-color: rgb(74, 135, 133);
    	border-right: 1px solid white;
        text-align: start !important;
        font-size: 15px !important;
        padding-left: 5px;
        padding-top: 10px;
        float: left;
        clear: left;
    }
    .active-group-header-bottom
    {
		grid-area: auto/auto/span 1/ span 3;
    	background-color: rgb(74, 135, 133);
    	border-right: 1px solid white;
        text-align: start !important;
        padding-left: 5px;
        padding-bottom: 5px;
        float: left;
        clear: left;
    }
    .group-list-header-top
    {
    	grid-area: auto/auto/ span 1/span 7; 
    	background-color: rgb(74, 135, 133);
        text-align: start !important;
        font-size: 15px !important;
        padding-left: 5px;
        padding-top: 10px;
        
    }
    .group-list-header-icon-plus
    { 
   	 	background-color: rgb(74, 135, 133);
	}
	.group-list-header-icon-cog
    { 
		grid-area: auto/auto/ span 1/span 2; 
   	 	background-color: rgb(74, 135, 133);
	}
    .group-list-header-bottom
    {
    	grid-area: auto/auto/ span 1/span 4; 
   	 	background-color: rgb(74, 135, 133);
     	text-align: start !important;
     	padding-left: 5px;
    	padding-bottom: 5px;
    }
    .group-list-body
    {
        grid-area: auto/auto/span 1/ span 5;
    }
    .group-list-body-end
    {
		grid-area: auto/auto/span 2/ span 5;
    }
    .group-list-body-margin
    {
		grid-area: auto/auto/span 4/ span 1;
    }
    .send-message-area
    {
    	background-color: rgb(74, 135, 133);
        border-right: 1px solid rgba(226, 230, 233, 0.8);
    }
    .active-group-chat
    {
		grid-area: auto/auto/span 1/ span 3;
    	border-right: 1px solid rgba(226, 230, 233, 0.8);
    }
    .active-group-chat-top
    {
		border-right: 1px solid rgba(226, 230, 233, 0.8);
		grid-area: auto/auto/span 1/ span 3;
    }
    .group-list-body-top
    {
		
		grid-area: auto/auto/span 1/ span 5;
    }
    input[type=text], select 
    {
	    width: 220px;
	    padding: 16px 30px 30px 28px;
	    display: inline-block;
	    border: 1px solid rgba(0, 0, 0, 0);
	    border-radius: 6px;
	    box-sizing: border-box;
	    font-family: "Fira Sans","TrebuchetMS","HelveticaNeue","Arial",sans-serif;
	    font-size: 16px;
        width: 350px;
	}
    .active-group-chat-end
    {
		 grid-area: auto/auto/span 1/ span 3;
   		 border-right: 1px solid rgba(226, 230, 233, 0.8);
    }
    .grid-end
    {
        grid-area: auto/auto/ span 1/ span 10;
        background-color:  rgb(230, 230, 230);
    }
    .poly-logo
    {
        position: relative;
        bottom: 30px;
        left: -100px;
        top: 30px
    }
    .icons
    {
        color: black;
        position: relative;
        top: 35px;
    }
    .button
    {
        position: relative;
        width: 75px;
        height: 65px;
        background-color: rgb(74, 135, 133);
        border-color: rgb(74, 135, 133);
    }
    .button-text-style
    {
        color:white;
    }
    .like-button
    {
        color:white;
    }
    .like-area
    {
		background-color: rgb(74, 135, 133);
    }
    .channels-style
    {
        color: rgb(50, 122, 183);
        font-family: "Fira Sans","TrebuchetMS","HelveticaNeue","Arial",sans-serif;
        left: 30px;
        position: relative;
        text-align: left;
        background-color: rgb(249, 249, 249);
        width: 315px;
        height: 40px;
    }
    .channels-style-dark-grey
    {
        color: rgb(50, 122, 183);
        font-family: "Fira Sans","TrebuchetMS","HelveticaNeue","Arial",sans-serif;
        left: 30px;
        position: relative;
        text-align: left;
        background-color: rgb(238, 238, 238);
        width: 315px;
        height: 40px;
    }
    .channel-icon-spacing
    {
        padding-left: 20px;
    }
    .message-sent
    {
        color: skyblue;
    }
    .message-recieved
    {
        color: lightgray;
    }
