	/**
	* Titre: Labo 1 - Tableau.css
 	* Date: 7 octobre 2018
 	* Auteurs: Claudia Antoun (1920363) et Jeffrey Salloum (1902655)
 	* Desciption: Ce code permet de recréer un tableau Doodle.
	*/

	/*DÉBUT DE LA VUE TABLEAU*/
    
    /* Cette classe détermine l'arrangement du grid qui contient le tableau */
	.grid-container 
	{
		display: grid;
		grid-template-columns: 216px repeat(9, 72px);
		grid-template-rows: 150px 46px 57px repeat(5, 45px);
	}

	/* Cette classe détermine le style initial des divs à l'intérieur du grid qui contient le tableau */
	.grid-container > div 
	{
		text-align: center;
		font-size: 16px;
		border: 1px solid rgb(212, 218, 222);
		font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
	}

	/* Cette classe détermine la couleur de fond des cases qui ne possèdent pas une coche verte. */
	.background-color-pink
	{
		background-color: #FCEDE9;
	}

	/* Cette classe détermine la couleur de fond des cases qui possèdent un checkbox. */
	.background-color-blue
	{
		background-color: #91C8E9;
	}
	
	/* Cette classe rend l'icône du crayon invisible. */
	.pencil a
	{
		visibility: hidden;
	}

	/* Cette classe fait apparaître l'icône du crayon (et détermine son style) lorsque l'on fait passer le curseur par dessus la case. */
	.pencil:hover a
	{	
		visibility: visible;
		color: #91C8E9;
		background-color: rgb(245, 253, 250);
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 17px;
		padding-right: 17px;
	}

    /* Cette classe détermine l'image de fond des cases qui possèdent une coche verte. */
    .background-green-check
    {
    	background-image: url("Images/tick1.png");
    	background-size: 100% 100%;
    }

    /* Cette classe détermine le style du texte dans la deuxième case de la première colonne. */
    .style-number-participants
    {
	    display: flex;
        align-items: center;
        padding-left: 16px;
        color: #8696a2;   
	}
    
    /* Cette classe détermine le style du texte et de l'image (coche bleue) des cases de la deuxième ligne.*/
    .image-align-check
    {
	    display: flex;
        align-items: center;
        padding-left: 19px;
		color: rgba(55, 152, 212, 0.8);
	}

	/* Cette classe détermine le style de la case contenant la zone de saisie. */
	.image-align-input-box
	{
		display: flex;
        align-items: center;
        padding-left: 16px; 
		background-color:#91C8E9;
	}

	/* Cette classe détermine la grandeur de l'image de la coche bleue de la deuxième ligne. */
	.blue-check-size
	{
		width: 50%;
        height: 50%;
	}

	/* Cette classe détermine le style des cases contenant les noms des participants. */
    .registered-names-grid
    {
    	display: grid;
        align-items: center;
    	border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    	border-top: 1px solid rgba(0, 0, 0, 0) !important;
    	grid-template-columns: 64px auto 50px;
    }

    /* Cette classe détermine le style de la dernière case contenant les noms des participants. */
    .registered-names-erase-border-top
    {
    	display: grid;
        align-items: center;
    	border-top: 1px solid rgba(0, 0, 0, 0) !important;
    	grid-template-columns: 64px auto 50px;
    }

	/* Cette classe détermine le style des noms des participants enregistrés. */
    .style-registered-names
    {
    	text-align: left;
    }

    /* Cette classe détermine le remplissage en-haut et en-bas du texte des cases de la première ligne (les dates). */
    .padding-date
    {
    	padding-top: 10px;
		padding-bottom: 8px;
    }

    /* Cette classe détermine le style de la date du mois. */
    .date
    {
	    font-size: 26px;
	    font-weight: bold;
	    padding-left: 8px;
    }

    /* Cette classe détermine le style du jour de la semaine. */
    .day
    {
	    color: #5d6e79;
	    font-style: normal;
	    letter-spacing: 1px;
	    font-weight: bold;
	    padding-left: 8px;
    } 

    /* Cette classe détermine le style du temps. */
    .time
    {
    	font-size: 14px;
    }

    /* Cette classe détermine le style de la zone de saisie. */
    input[type=text], select 
    {
	    width: 90%;
	    padding: 10px 10px;
	    display: inline-block;
	    border: 1px solid rgba(0, 0, 0, 0);
	    border-radius: 6px;
	    box-sizing: border-box;
	    font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
	    font-size: 16px;
	}

	/* Cette classe créée une case à cocher. */
	.container
	{
	    display: block;
	    position: relative;
	    padding-top: 16px;
	    cursor: pointer;
	    font-size: 22px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}

	/* Cette classe cache la case à cocher par défaut du navigateur */
	.container input 
	{
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}

	/* Cette classe positionne et détermine le style de la case à cocher */
	.checkmark 
	{
	    position: absolute;
	    top: 16px;
	 	left: 24px;
	    height: 24px;
	    width: 24px;
	    border-radius: 4px;
	    background-color: white;
	}

	/* Cette classe ajoute un contour bleu à la case à cocher lorsque l'on y fait passer le curseur par dessus */
	.container:hover input ~ .checkmark 
	{
	    background-color: white;
	    border: 2px solid;
	    border-color: rgb(71, 184, 255);
	}

	/* Cette classe ajoute un fond blanc à la case lorsqu'elle est cochée */
	.container input:checked ~ .checkmark 
	{
	    background-color: white;
	}

	/* Cette classe créée une coche/indique que la case est cochée (invisible sinon) */
	.checkmark:after 
	{
	    content: "";
	    position: absolute;
	    display: none;
	}

	/* Cette classe présente la coche lorsque la case est cochée */
	.container input:checked ~ .checkmark:after 
	{
	    display: block;
	}

	/* Cette clase détermine le style de la coche */
	.container .checkmark:after 
	{
	    left: 7px;
	    top: 2px;
	    width: 6px;
	    height: 12px;
	    border: solid #85C42A;
	    border-radius: 2px;
	    border-width: 0 5px 5px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}

	/* Cette classe détermine les grids qui apparaissent quand on fait passer le curseur sur une case de disponibilité */
	.tooltip 
	{
		position: relative;
		display: grid;
		grid-template-columns: 70px 100px;
		grid-template-rows: 100px 10px;
		padding-left: 15px;
		padding-top: 20px;
	}

	/* Cette classe détermine le style des divs à l'interieur des grids qui apparaissent quand on fait passer le curseur sur une case */
	.tooltip > div 
	{
		font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
		font-size: 14px;
		align-items: center;
	}

	/* Cette classe détermine le style des divs à l'interieur des grids qui apparaissent quand on fait passer le curseur sur une case de temps */
	.time-tooltip
	{
		grid-area: 1/2/span 1/span 1;
		padding-top: 20px;
		padding-left: 5px;
		font-size: 14px;
		color: #5d6e79;
		letter-spacing: 1px;
	}

	/* Cette classe détermine le style des divs à l'interieur des grids qui apparaissent quand on fait passer le curseur sur une case de disponibilité */
	.disponibility-tooltip
	{
		border-top: 1px solid rgb(212, 218, 222);
		grid-area: 2 / 1 / span 1 / span 2;
		padding-left: 20px;
		padding-top: 18px;
		color: #5d6e79;
		letter-spacing: 1px;
		font-size: 14px;
	}

	/* Cette classe détermine le style du texte des tooltips */
	.tooltip .tooltiptext 
	{
		width: 175px;
		height:200px;
		background-color: #FFF;
		text-align: left;
		border-radius: 5px;
		align-items:center;
		padding: 5px 0;
		position: absolute;
		z-index: -100;
		bottom: 67px;
		opacity: 0;
		box-shadow: 1px 1px 5px #888888;
	}

	/* Cette classe permet de faire apparaître le tooltip après 1 seconde */
	.tooltip:hover .tooltiptext 
	{
		opacity: 1;
		transition: opacity 0s 1s ease;
		z-index: 100;
	}

	/* DÉBUT DE LA VUE CALENDRIER */

	/* Cette classe détermine l'arrangement du grid qui contient le calendrier */
	.calendar-grid-container 
	{
		display: grid;
		grid-template-columns: 72px repeat(5, 96px);
		grid-template-rows:  56px 50px 69px repeat(18, 32px) 64px;
		background-color: white;
	}
	
	/* Cette classe détermine le style initial des divs à l'intérieur du grid qui contient le calendrier */
	.calendar-grid-container > div 
	{
		text-align: center;
        font-family: "Fira Sans","TrebuchetMS","HelveticaNeue","Arial",sans-serif;
		font-size: 20px;
        color: #434E57;
	}

	/* Cette classe détermine le positionnement et le style de la zone de saisie du participant */
    .calendar-participants
    {
    	grid-area:1/1/span 1/span 6;
        border-top: 1px solid rgba(226, 230, 233, 0.8);
        border-bottom: 1px solid rgba(226, 230, 233, 0.8);
        padding-top: 6px;
        background-color: rgb(145, 200, 233);
	}
	
	/* Cette classe détermine le positionnement et le style de la tranche de dates */
    .calendar-date-span
    {
    	grid-area: 2/1/span 1/span 6;
        padding-top: 12px;
        padding-left: 6px;
        font-size: 23px !important;
	}
	
	/* Cette classe détermine le positionnement des dates */
    .calendar-dates
    {
    	padding-top: 12px;
        padding-left: 25px;
        padding-right: 25px;
	}
	
	/* Cette classe détermine le positionnement et le style de la tranche des jours */
    .calendar-day
    {
    	float: left;
        clear: left;
    	font-size: 15px;
    	font-style: normal;
	    letter-spacing: 1px;
    	font-weight: normal;   
	}
	
	/* Cette classe détermine le positionnement et le style d'une date */
    .calendar-date
    {
    	float: left;
        clear: left;
    	font-size: 25px;
		font-weight: bold;
    }
   
	/* Cette classe détermine le style de la bordure en fin de calendrier */
    .end-border
    {
    	border-bottom: 1px solid rgba(226, 230, 233, 0.8);
        border-top: 1px dotted rgba(226, 230, 233, 0.8);
	}
	
	/* Cette classe détermine le positionnement de la zone en fin de calendrier */
    .send-area
    {
    	grid-area: 22/1/span 1/span 8;
	}
	
	/* Cette classe détermine le positionnement et le style des heures */
    .calendar-time
    {
       text-align: end !important;
       padding-right: 4px;
       padding-top: 6px;
       border-top: 1px solid rgba(226, 230, 233, 0.8);
       font-size: 100% !important;
    }
	
	/* Cette classe détermine la place et la couleur de fond que prend une zone de coche */
    .blue-box
    {
    	background-color: rgb(145, 200, 233);
		grid-row-start: span 4;
		width: 95%;
	}
	
	/* Cette classe détermine le style des bordures pointillées */
	.light-border
    {
    	border-top: 1px dotted rgba(226, 230, 233, 0.8) !important;
	}

	/* Cette classe aligne les images du calendrier */
    .image-align
    {
	    align-self: start;
	}

	/* Cette classe positionne et détermine le style de la case à cocher */
	.checkmark-calendar
	{
		position: absolute;
	    top: 50px;
	 	left: 35px;
	    height: 24px;
	    width: 24px;
	    border-radius: 4px;
	    background-color: white;
	}

	/* Cette classe ajoute un contour bleu à la case à cocher lorsque l'on y fait passer le curseur par dessus */
	.container:hover input ~ .checkmark-calendar 
	{
	    background-color: white;
	    border: 2px solid;
	    border-color: rgb(71, 184, 255);
	}

	/* Cette classe ajoute un fond blanc à la case lorsqu'elle est cochée */
	.container input:checked ~ .checkmark-calendar 
	{
	    background-color: white;
	}

	/* Cette classe créée une coche/indique que la case est cochée (invisible sinon) */
	.checkmark-calendar:after 
	{
	    content: "";
	    position: absolute;
	    display: none;
	}

	/* Cette classe présente la coche lorsque la case est cochée */
	.container input:checked ~ .checkmark-calendar:after 
	{
	    display: block;
	}

	/* Cette clase détermine le style de la coche */
	.container .checkmark-calendar:after 
	{
	    left: 7px;
	    top: 2px;
	    width: 6px;
	    height: 12px;
	    border: solid #85C42A;
	    border-radius: 2px;
	    border-width: 0 5px 5px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}